*.*~
*.dcu
*.ppu
*.cfg
*.dof
*.~*
*.dsk
*.exe
*.bpg
*.rsm
innosetup/
*.falsch
*.hnt
*.std
*.log
*.zip
*.drc
*.lnk
*.dat
*.bak
*.lst
*.out
*.old
*.pln
*.pos
*.db
*.r16
*.r32
*.manifest
*.uni
*.bk1
*.bk2
*.d16
*.d32
*.aps
*.rus
*.cnt
*.prf
*.map
*.zzz
*.int
*.tgz
*.prg
*.tree
*.tlb
*.dfm_
*.pas_
*.rsp
*.pla
*.planerorg
*.lps
HilfeTool/Hilfe Archiv/
HilfeTool/Licence.xml
HilfeTool/Setup/Output/
BrainHelp/Hilfe Archiv/
BrainHelp/Licence.xml
Bpl/DragDropD5.bpl
Bpl/DragDropD5.dcp
allcomponents/DragDrop/Packages/DragDropD5.res
hirler/Logos/vaeworld.png
massenermittlung/MASSENDACH.RES
massenermittlung/BadKeys.inc
massenermittlung/Problemfaelle/Archiv/
massenermittlung/Problemfaelle/SDSProjekt.XML
massenermittlung/Problemfaelle/*.sxml
backup/
lib/
